<h1>Welcome to SmartCart <%= @user.username %>!</h1>

Thanks for siging up to SmartCart, your grocery management solution!

We hope you enjoy the freedom that SmartCart provides!  God Bless America!!!

Sincereliest, The SmartCart Team
